/* Importa a fonte "Acme" do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* Animação para mudar a ordem de exibição dos elementos */
@keyframes changeOrder {
  from { z-index: 9; }
  to { z-index: 1; }
}

/* Animação de "aperto de mão" para a mão */
@keyframes handShake {
  0%,100% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
}

/* Animação de "aperto de mão" para a segunda mão, invertida */
@keyframes handShake2 {
  0%,100% { transform: rotateY(180deg) rotate(10deg); }
  50% { transform: rotateY(180deg) rotate(-10deg); }
}

/* Reseta o estilo padrão do HTML e define a fonte para "Acme" */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: Acme, Arial, sans-serif;
}

/* Estilização do formulário, centralizado na tela */
form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Centraliza o título */
h1 {
  text-align: center;
}

/* Centraliza o elemento com id "hands" */
#hands {
  text-align: center;
}

/* Remove a animação das mãos ao marcar a entrada */
input:checked ~ div .hand {
  animation: none !important;
}

/* Estilo básico da mão com animação de "aperto de mão" */
.hand {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(10deg);
  display: inline-block;
  animation: handShake 2s infinite;
}

/* Estilização para as partes da mão */
.hand > div {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
  background: gold;
  transition: all 0.1s;
}

/* Configuração do punho */
.fist {
  height: 110px;
  left: 40px;
  top: 50px;
  width: 90px;
  border-radius: 20px 0 0 20px;
}

/* Configuração dos dedos */
.finger {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  left: 80px;
  transform-origin: 0 50%;
}

/* Estilo específico para cada dedo */
.finger-1 { top: 50px; --dif: 0px; }
.finger-2 { top: 78px; left: 84px; --dif: 4px; }
.finger-3 { top: 106px; --dif: 0px; }
.finger-4 { top: 134px; height: 26px; left: 76px; --dif: -8px; }

/* Configuração do polegar */
div.thumb {
  width: 35px;
  height: 70px;
  border-radius: 0 20px 20px 20px;
  top: 50px;
  left: 80px;
  border-left: 0 solid;
  box-shadow: -17px 6px 0 -15px black;
}

/* Configuração do braço */
div.arm {
  width: 22px;
  height: 70px;
  left: 20px;
  top: 70px;
  border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Configuração para a mão do usuário com animação invertida */
#user-hand {
  transform: rotateY(180deg);
  animation: handShake2 2s infinite;
  position: relative;
}

/* Esconde o input radio fora do ecrâ */
input[type="radio"] {
  position: absolute;
  top: -1000in;
  left: -1000in;
}

/* Configurações dos dedos para o movimento "tesoura" */
input[id$="scissors"]:checked ~ div #user-hand .finger-1,
input[id^="scissors"]:checked ~ div #computer-hand .finger-1 {
  width: 130px;
  transform:rotate(-5deg);
}

input[id$="scissors"]:checked ~ div #user-hand .finger-2,
input[id^="scissors"]:checked ~ div #computer-hand .finger-2 {
  width: 130px;
  transform:rotate(5deg);
}

/* Configurações dos dedos para o movimento "papel" */
input[id$="paper"]:checked ~ div #user-hand .finger-1,
input[id$="paper"]:checked ~ div #user-hand .finger-2,
input[id$="paper"]:checked ~ div #user-hand .finger-3,
input[id$="paper"]:checked ~ div #user-hand .finger-4,
input[id^="paper"]:checked ~ div #computer-hand .finger-1,
input[id^="paper"]:checked ~ div #computer-hand .finger-2,
input[id^="paper"]:checked ~ div #computer-hand .finger-3,
input[id^="paper"]:checked ~ div #computer-hand .finger-4 {
  left: 124px;
  left: calc(124px + var(--dif));
  width: 80px;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}

/* Estilo para a mensagem */
#message {
  text-align: center;
  display: none;
}

/* Exibe a mensagem ao selecionar uma opção */
input:checked ~ #message {
  display: block;
}

/* Centraliza as mãos */
#hands {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo do container dos ícones */
#icons {
  width: 30px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
}

/* Estilização dos elementos dentro do container de ícones */
#icons > div {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

/* Animação dos ícones ao serem ativados */
label:active {
  position:static; 
  margin-left: 60px;
}

/* Fundo dos ícones ao serem ativados */
label:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  z-index: 10;
  height: 60px;
}

/* Estilo básico dos ícones */
label {
  animation: changeOrder 0.45s infinite linear;
  background: #f5f5f5;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

/* Delay na animação para cada ícone */
label:nth-of-type(1) { animation-delay: -0.00s; }
label:nth-of-type(2) { animation-delay: -0.15s; }
label:nth-of-type(3) { animation-delay: -0.30s; }

#scoreboard {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

#user-score, #computer-score {
  font-weight: bold;
  color: #333;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

